<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="no-js" >
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Restaurant</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="../css/linearicons.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/nice-select.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.css">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

<header id="header" class="home">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a th:href="@{/}"><img src="../img/logo.png" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a th:href="@{/}"><span style="color: #ff7f50;">Home</span></a></li>
                    <li><a href="#dish"><span style="color: #ff7f50;">DISH</span></a></li>
                    <li><a href="#blog"><span style="color: #ff7f50;">bLOG</span></a></li>
                    <li><a href="#contact"><span style="color: #ff7f50;">cONTACT</span></a></li>
                    <li class="menu-has-children"><a href=""><span style="color: #ff7f50;">Pages</span></a>
                    <li><a th:href="@{/entrance}"><span style="color: #ff7f50;">Вход</span></a></li>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->



<footer class="footer-area section-gap">
    <div class="container" align = "center">
        <div class="title text-center">
            <h1 class="mb-10"><span style="color: #ff7f50;">Регистрация</span></h1>
        </div>
        <div class="row" align = "center">
            <div class="col-lg-12 col-md-12 col-sm-12" align = "center">
                <form enctype="multipart/form-data"   th:object="${user}" method="post"
                      class="needs-validation"><br><br><br><br>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <label for="surname">Фамилия</label>
                                    <input th:field="*{surname}" type="text" class="form-control" id="surname"
                                           placeholder="2 - 50 букв"
                                           value="" required>
                                    <small class="text-danger" th:if="${#fields.hasErrors('surname')}"
                                           th:errors="*{surname}"></small>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="name">Имя</label>
                                    <input th:field="*{name}" type="text" class="form-control" id="name"
                                           placeholder="2 - 50 букв"
                                           value="" required>
                                    <small class="text-danger" th:if="${#fields.hasErrors('name')}"
                                           th:errors="*{name}"></small>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="patronymic">Отчество</label>
                                    <input th:field="*{patronymic}" type="text" class="form-control" id="patronymic"
                                           placeholder="2 - 50 букв"
                                           value="" required>
                                    <small class="text-danger" th:if="${#fields.hasErrors('patronymic')}"
                                           th:errors="*{patronymic}"></small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="email">Электронная почта</label>
                                    <input th:field="*{email}" type="email" class="form-control" id="email"
                                           placeholder="name@example.com" value="" required>
                                    <small class="text-danger" th:if="${#fields.hasErrors('email')}"
                                           th:errors="*{email}"></small>
                                </div>


                                <div class="col-md-6 mb-3">
                                    <label for="username">Телефон</label>
                                    <input th:field="*{username}" type="text" class="form-control" id="username"
                                           placeholder="5 - 14 цифр" value="" required>
                                    <small class="text-danger" th:if="${#fields.hasErrors('username')}"
                                           th:errors="*{username}"></small>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="address">Домашний адрес</label>
                                    <input th:field="*{address}" type="text" class="form-control" id="address"
                                           placeholder=""
                                           value=""
                                           required>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="password">Пароль для входа на сайт</label>
                                    <input th:field="*{password}" type="text" class="form-control" id="password"
                                           placeholder="*******" value="" required>
                                    <small class="text-danger" th:if="${#fields.hasErrors('password')}"
                                           th:errors="*{password}"></small>
                                </div>

                            </div>
                            <button class="btn btn-primary btn-lg" type="submit" value="Submit">Зарегистрироваться
                            </button>
                            </div>
                            </div>
                </form>
                <br><br>

        </div>
        </div>
    </div>
</footer>

<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="js/easing.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/main.js"></script>
</body>
</html>



